[submodule "Thirdparty/g2o"]
	path = Thirdparty/g2o
	url = https://github.com/RainerKuemmerle/g2o.git
[submodule "Thirdparty/eigen"]
	path = Thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
