[submodule "cpp_pkg/thirdparty/g2o"]
	path = cpp_pkg/thirdparty/g2o
	url = https://github.com/RainerKuemmerle/g2o.git
[submodule "cpp_pkg/thirdparty/eigen"]
	path = cpp_pkg/thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "cpp_pkg/thirdparty/pyadjoint"]
	path = cpp_pkg/thirdparty/pyadjoint
	url = https://github.com/dolfin-adjoint/pyadjoint.git
